<div class="portfolio-show">
  <h1><%= @user.first_name %>'s ProFolio</h1>
  <center><%= link_to "Add Profile", user_profile_new_path(@user), class: 'btn btn-primary' %></center>
  <div class="icons">
    <% @user.profiles.each do |profile| %>
      <a href="<%= profile.link %>" target="_blank"><%= image_tag("#{profile.provider}.png") %></a>
    <% end %>
  </div>
</div>
